@model RidingSchool.Models.PersonData
@{
    ViewData["title"] = "Startsida";
}

<h1>Startsida</h1>
<p>Inmatning för hästval.</p>

<form asp-action="Horse" method="post">

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Weight"></label>
        <input asp-for="Weight" />
    </div>
    <div>
        <label asp-for="Length"></label>
        <input asp-for="Length" />
    </div>
    <div>
        <label asp-for="Date"></label>
        <input asp-for="Date" />
    </div>
    <input type="submit" value="Tilldela häst" />

</form>